@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// colors
$base-color-light: #ffffff !default;
$base-color-dark: #000000;
$primary-color: #6C63FF;

// font
$base-font-family: "Kanit", sans-serif;
$header-font-size: 26px;
$header-font-weight: 500;

$container-max-width: 750px;
