
// colors
$base-color-light: #ffffff !default;
$base-color-dark: #000000;
$primary-color: #6C63FF;

// font
$header-font-size: 26px;
$header-font-weight: 500;

// container
$container-max-width: 750px;
$container-margin: 40px auto;

// Modal
$modal-bg-clr: #666666;
$modal-clr: #ffffff;
$modal-width: 500px;
